Main/.terraform.lock.hcl
Main/.terraform/providers/registry.terraform.io/hashicorp/aws/3.62.0/linux_amd64/terraform-provider-aws_v3.62.0_x5
Main/.terraform
Main/.terraform/*
*/.terraform/*
*/.terraform
Main/terraform.tfvars
main-key.pem
